.scatter {
  background: #0004;
  position: relative;
}

.flower {
  position: absolute;
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  transform: translate(-50%, 50%);
}

.flower:hover {
  border: 2px solid white;
  z-index: 10;
}

.stats {
  color: #fffb;
  position: absolute;
  z-index: 20;
  pointer-events: none;
  left: 1em;
  top: 1em;
}
