.scatter {
  background: #0004;
  position: relative;
}

.flower {
  position: absolute;
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  transform: translate(-50%, 50%);
}

.stats {
  color: #fffb;
  position: absolute;
  left: 1em;
  top: 1em;
}
